@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');

:root {
    --color_white: #fff;
    --color-gray-100: #181818;
    --color-gray-300: #323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    text-decoration: none;
}

.navbar,
.home,
.why-us,
.games-genre {
    max-width: 1280px;
    margin: auto;
}

section {
    padding: 60px 0px;
    max-width: 1096px;
    margin: auto;
}

header {
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0px;

        & nav {
            display: flex;
            gap: 40px;

            & a {
                color: #efefefb2;
                font-size: 18px;
            }

            & a:first-child {
                color: var(--color_white);
            }
        }

        & .btns {
            display: flex;
            gap: 16px;

            & button {
                padding: 12px 16px;
                border-radius: 8px;
                border: none;
                background-color: #3B44F6;
                color: var(--color_white);
                cursor: pointer;
            }

            & button:last-child {
                background-color: transparent;
                border: var(--color_white) 1px solid;
            }
        }
    }

    & .home {
        margin-top: 114px;
        height: calc(100vh - 188px);

        & .title {
            margin-bottom: 64px;
            color: var(--color_white);

            & h1 {
                font-size: 48px;
                margin-bottom: 26px;
            }

            & p {
                font-size: 24px;
                max-width: 400px;
            }
        }

        & button {
            padding: 16px 32px;
            border-radius: 8px;
            border: none;
            background-color: #3B44F6;
            color: var(--color_white);
            cursor: pointer;
            font-size: 18px;
        }
    }
}

main {
    & .why-us {
        display: flex;
        flex-direction: column;
        gap: 60px;  

        & .title {
            & h2 {
                margin-bottom: 16px;
            }
        }

        & .title, .cards {
            margin: auto;
            text-align: center;
        }

        & .cards {
            display: flex;
            gap: 83px;
        }
    }

    & .games-genre {
        & .title {
            display: flex;
            justify-content: space-between;
            margin: auto;
        }

        & .cards {
            display: flex;
            gap: 16px;
            margin-top: 24px;

            & .card {
                position: relative;
                width: 199px;
                height: 199px;
                border-radius: 8px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                filter: saturate();

                & p {
                    position: absolute;
                    color: var(--color_white);
                    /* display: flex;
                    align-items: center;
                    justify-content: center; */
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            & .card:nth-child(1) {
                background-image: url(../img/games-genre/strategy.svg);
            }
            & .card:nth-child(2) {
                background-image: url(../img/games-genre/fps.svg);
            }
            & .card:nth-child(3) {
                background-image: url(../img/games-genre/rpg.svg);
            }
            & .card:nth-child(4) {
                background-image: url(../img/games-genre/puzzle.svg);
            }
            & .card:nth-child(5) {
                background-image: url(../img/games-genre/role-playing.svg);
            }
            & .card:nth-child(6) {
                background-image: url(../img/games-genre/sports.svg);
            }
        }
    }
}